<div class="footer-top">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                    <li><i class="bx bx-chevron-right"></i> <a href="https://dynamicmusic.xyz/invite">Add To Discord</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="https://dynamicmusic.xyz/patreon">Patreon</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="https://dynamicmusic.xyz/terms">Terms of service</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="https://dynamicmusic.xyz/privacy">Privacy policy</a></li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-6 footer-links">
                <h4>Contact</h4>
                <ul>
                    <li><i class="bx bx-chevron-right"></i> <a href="https://dynamicmusic.xyz/discord">Support Server</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="https://dynamicmusic.xyz/email">Email</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="https://dynamicmusic.xyz/feedback">Send Feedback</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="https://dynamicmusic.xyz/discord">Discord</a></li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-6 footer-newsletter">
                <h4>Join Our Discord</h4>
                <p>Dynamo Gaming discord is india's top and fastest growing discord community. We host daily events, custom matches and much more.</p>
            </div>

        </div>
    </div>
</div>

<div class="container">

    <div class="copyright-wrap d-md-flex py-4">
        <div class="mr-md-auto text-center text-md-left">
            <div class="copyright">
                &copy; Copyright <strong><span>Dynamic Music</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/techie-free-skin-bootstrap-3/ -->
                Developed with ❤️  By LOVERIAN#1016
            </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="https://twitter.com/aadii_sawant" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.instagram.com/lovrians" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UCqNH56x9g4QYVpzmWTzqVYg" class="youtube"><i class="bx bxl-youtube"></i></a>
            <a href="https://dynamicmusic.xyz/discord" class="discord"><i class="bx bxl-discord"></i></a>
        </div>
    </div>

</div>