body {
    font-family: "Alata", sans-serif;
    box-sizing: border-box;
    margin: 0,8%,0,8%;
    background-color: #330033;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

.dy {
    color: #f8f9fa;
}

.mu {
    color: #ffc107;
}
nav {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    padding: 1rem 2rem;
}

    nav #navbar-brand a {
        letter-spacing: 0.1rem;
    }



    nav #navbar-links {
        display: grid;
        grid-auto-flow: column;
        justify-items: flex-end;
        align-items: center;
    }

        nav #navbar-links #mobile-btn {
            visibility: hidden;
        }

        nav #navbar-links ul {
            list-style-type: none;
            padding-inline-start: 0px;
            margin: 0px;
        }

            nav #navbar-links ul li {
                display: inline-block;
                margin-left: 25px;
            }

                nav #navbar-links ul li a {
                    color: #f8f9fa;
                    text-decoration: none;
                    transition: color 300ms ease;
                }

                    nav #navbar-links ul li a:hover {
                        color: #ffc107;
                    }

        nav #navbar-links #bottom_list {
            display: none;
        }

#ad1{
    margin-top:2%;
   
}

.h1up {
    font-weight: bolder;
}

.h1down {
    margin-bottom: 10%;
    margin-top: 10%;
}

h1 {
    color: white;
}


.button {
    position: relative;
    background: transparent;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

    .button:after {
        content: "";
        background: #f1f1f1;
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px !important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s
    }

    .button:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s
    }



#cs {
    background-color: #8b3f3f;
    border-radius: 100%/30px 30px 0 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%2382364e' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23772e5d' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%236a256c' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%235a1d7a' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23441689' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23432082' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%2342277b' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23402e73' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%233e346c' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%233b3965' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    /*overflow: hidden;*/
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: default;
    top: 50%;
    left: 50%;
    padding-bottom: 150px;
    padding-top: 50px;
}

    #cs :after {
        content: "";
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MHB4IiBoZWlnaHQ9IjUwcHgiIHZpZXdCb3g9IjAgMCA1MCA1MCI+PHJlY3QgeD0iMjMuODQ2IiB5PSIwLjMzMSIgdHJhbnNmb3JtPSJtYXRyaXgoMC43MDczIC0wLjcwNjkgMC43MDY5IDAuNzA3MyAtMTAuNDM3MiAyNC45ODY3KSIgd2lkdGg9IjIuMjIxIiBoZWlnaHQ9IjQ5LjUzMiIvPjxyZWN0IHg9IjIzLjg0NSIgeT0iMC4zMzIiIHRyYW5zZm9ybT0ibWF0cml4KDAuNzA2OSAwLjcwNzMgLTAuNzA3MyAwLjcwNjkgMjUuMDY3NSAtMTAuMjk1MykiIHdpZHRoPSIyLjIyMSIgaGVpZ2h0PSI0OS41MzIiLz48L3N2Zz4=);
        opacity: 0.020;
        /*width: 120%;
  height: 120%;
  animation: move 5s linear infinite;
  top:-50px; left:-50px;*/
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
    }



#text {
    margin-top: 7px;
}

#cst #csp {
    margin: 0;
    padding: 0;
    font-family: Segoe UI, sans-serif;
    font-weight: 100;
    font-style: normal;
    color: rgba(0,0,0,1);
}

#cst {
    color: rgba(1,106,154,0.75); /*#016A9A;*/
    text-shadow: 0px 1px 0px rgba(255,255,255,1.0);
}

#csp {
    color: rgb(255 37 37 / 29%);
    text-shadow: -4px -5px 0px #f8f9fa;
    width: 70%;
    margin: auto;
    position: absolute;
    top: 10%;
    left: 15%;
}
#prf {
    position: absolute;
    bottom: 10%;
    left: 15%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
#rbn {
    color: #000000;
    text-shadow: 0px -1px 5px #f8f9fa;
    position: absolute;
    bottom: 10%;
    right: 15%;
}
#thumb {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    opacity: 0.3;
}
.container {
    position: relative;
        margin-top: 20px;
}

.turntable {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 8%;
    margin-bottom: 8%;
    width: 310px;
    height: 280px;
    background: #9CD8BD;
    border-radius: 5%;
    box-shadow: inset 0 0 10px rgba(255,255,255,0.7);
}

.record {
    position: absolute;
    left: 35px;
    top: 35px;
    width: 200px;
    height: 200px;
    background: black;
    border-radius: 50%;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    0% {
        transform: none;
    }

    100% {
        transform: rotate(360deg);
    }
}

.record::before {
    content: '';
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 180px;
    height: 180px;
    background: repeating-radial-gradient(black, black 5px, #1C1C1C 6px, #1C1C1C 7px);
    border-radius: 50%;
}

.overlay {
    content: '';
    left: 35px;
    top: 35px;
    position: absolute;
    width: 200px;
    height: 200px;
    background: linear-gradient(45deg, transparent, 40%, rgba(255,255,255,0.35), 60%, transparent);
    border-radius: 50%;
}


.inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 55px;
    height: 55px;
    background: linear-gradient(white, white 50%, #F796A8 50%, #F796A8);
    border-radius: 50%;
}

    .inner::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
        height: 10px;
        background: black;
        border-radius: 50%;
    }

    .inner::after {
        content: '100 Days';
        width: 55px;
        text-align: center;
        font-family: sans-serif;
        font-size: 8px;
        position: absolute;
        left: 50%;
        top: 10px;
        transform: translateX(-50%);
    }

.arm-holder {
    position: absolute;
    width: 40px;
    height: 40px;
    background: gray;
    border-radius: 50%;
    right: 20px;
    top: 40px;
}

    .arm-holder::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30px;
        height: 30px;
        background: #939393;
        border-radius: 50%;
    }

.arm {
    position: absolute;
    right: 13px;
    width: 60px;
    top: 10px;
    height: 110px;
    border: 10px solid #939393;
    transform: skew(-20deg, -20deg);
    transform-origin: top right;
    border-left-color: transparent;
    border-top-color: transparent;
    border-radius: 0 0 30% 0;
    animation: armTwitch 0.5s infinite;
    animation-direction: alternate-reverse;
}

@keyframes armTwitch {
    0% {
        transform: skew(-20deg, -20deg);
    }

    100% {
        transform: skew(-20deg, -20deg) rotate(1deg);
    }
}

.arm::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 30px;
    background: gray;
    transform: skew(20deg, 20deg) rotate(75deg);
    top: 98px;
    left: -10px;
    border-radius: 20%;
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
}

.dial {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    background: #333642;
    border-radius: 50%;
}

    .dial::before {
        content: '';
        left: 50%;
        transform: translateX(-50%);
        top: 2px;
        position: absolute;
        width: 2px;
        height: 5px;
        background: white;
        border-radius: 50%;
    }




.table {
    background: transparent;
    color: white;
    margin-bottom: 0;
    width:70%;
}

.tt {
    background-color: #8b3f3f;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%2382364e' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23772e5d' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%236a256c' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%235a1d7a' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23441689' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23432082' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%2342277b' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23402e73' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%233e346c' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%233b3965' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    justify-content:center;
    color:white;
    padding-bottom:100px;
}
    

.fea {
    background-color: #8b3f3f;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%2382364e' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23772e5d' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%236a256c' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%235a1d7a' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23441689' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23432082' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%2342277b' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23402e73' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%233e346c' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%233b3965' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 10%;
    margin:0;
}

.card {
    border: none;
    background: transparent;
}


@media screen and (max-width: 768px) {
    nav #navbar-brand {
        z-index: 999;
    }

    nav #navbar-links #mobile-btn {
        visibility: visible;
        z-index: 999;
    }

        nav #navbar-links #mobile-btn button {
            background-color: transparent;
            outline: none;
            border: none;
        }

            nav #navbar-links #mobile-btn button:focus {
                outline: none;
                border: none;
            }

    nav #navbar-links .hidden {
        display: none !important;
    }

    nav #navbar-links .shown {
        display: flex !important;
    }

    nav #navbar-links #list {
        position: fixed;
        width: 100vw;
        height: 100vh;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: black;
        top: 0;
        left: 0;
        z-index: 500;
    }

        nav #navbar-links #list li {
            display: list-item;
            margin-left: 0px;
            margin-top: 20px;
            animation: slide-left 500ms ease-out;
        }

    @keyframes slide-left {
        0% {
            transform: translateX(300px);
        }

        70% {
            transform: translateX(-20px);
        }

        100% {
            transform: translateX(0px);
        }
    }

    nav #navbar-links #list li a {
        color: white;
        font-size: 25px;
        transition: color 300ms ease;
    }

        nav #navbar-links #list li a:hover {
            color: #9C27B0;
        }

    nav #navbar-links #bottom_list {
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: black;
        width: 100vw;
        height: 100px;
        align-items: center;
        justify-content: center;
        padding-inline-start: 0px;
        margin: 0px;
        z-index: 500;
    }

        nav #navbar-links #bottom_list li {
            margin-left: 15px;
            margin-right: 15px;
            animation: slide-up 500ms ease-out;
        }

    .box {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #aaa;
        margin: 20px 0;
        padding: 10px;
        width: 100%;
        min-height: 200px;
        border: 2px #ccc solid;
        color: #fff;
    }

    @keyframes slide-up {
        0% {
            transform: translateY(100px);
        }

        70% {
            transform: translateY(-10px);
        }

        100% {
            transform: translateY(0px);
        }
    }

    nav #navbar-links #bottom_list li a svg path {
        transition: fill 300ms ease;
    }

    nav #navbar-links #bottom_list li a:hover > svg path {
        fill: #9C27B0;
    }
}

.card-title {
    color: white;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    margin: 10px 0 5px;
}

.card-text {
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    opacity: .75;
    color:antiquewhite;
}


.footer-dark {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #282d32;
}

    .footer-dark h3 {
        margin-top: 0;
        margin-bottom: 12px;
        font-weight: bold;
        font-size: 16px;
    }

    .footer-dark ul {
        padding: 0;
        list-style: none;
        line-height: 1.6;
        font-size: 14px;
        margin-bottom: 0;
    }

        .footer-dark ul a {
            color: inherit;
            text-decoration: none;
            opacity: 0.6;
        }

            .footer-dark ul a:hover {
                opacity: 0.8;
            }

@media (max-width:767px) {
    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }
}

.footer-dark .item.text {
    margin-bottom: 36px;
}

@media (max-width:767px) {
    .footer-dark .item.text {
        margin-bottom: 0;
    }
}

.footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer-dark .item.social {
    text-align: center;
}

@media (max-width:991px) {
    .footer-dark .item.social {
        text-align: center;
        margin-top: 20px;
    }
}

.footer-dark .item.social > a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
}

    .footer-dark .item.social > a:hover {
        opacity: 0.9;
    }

.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}






/*FAQ section, where the accordion is kept, including section specific css*/
#faq {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

    #faq .add { /*Add is the name for the plus icon*/
        display: block;
    }

    #faq .remove { /*Remove is the name for the less icon*/
        display: none;
    }

    #faq i {
        font-size: 30px;
    }

/*Accordion container and each item*/
.accordion {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.accordion-item {
    background-color: transparent;
    border-bottom: 3px solid #f8f9fa;
    margin-bottom: 10px;
    padding: 10px;
}

/*Styles for the question*/

.accordion-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 18px;
    font-family: Open Sans;
    font-weight: 600;
    width: 100%;
    padding: 1rem 0;
    cursor: pointer;
    transition-duration: 0.5s;
}

    .accordion-title:hover {
        color: #49f900;
    }

    .accordion-title h2 {
        width: 80%;
    }

/*Styles for the answer*/

.accordion-content {
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: #21133847;
    transition: max-height 0.6s;
    font-family: Open Sans;
    font-weight: 400;
}

    .accordion-content p {
        padding: 20px;
        color: white;
    }


#fq {
    background-color: #8b3f3f;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%2382364e' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23772e5d' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%236a256c' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%235a1d7a' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23441689' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23432082' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%2342277b' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23402e73' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%233e346c' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%233b3965' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    justify-content: center;
    
    color: #FFF;
    text-align: center;
   
    font-size: 2em;
    text-transform: uppercase;
    text-shadow: 5px 4px 0px #999;
}

.h1q {
    font-size: 50px;
    font-family: "ubuntu";
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Josefin Sans", sans-serif;
    background: linear-gradient(to right, #e72a3a 10%, #fff 50%, #5bdaff 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1.5s linear infinite;
    display: inline-block;
    margin-top:50px;
    margin-bottom:50px;
}



@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.imgtch {
    padding-bottom: 10%;
    width: 90%;
    margin: auto;
}
.tch {
    padding-bottom: 7%;
    width: 75%;
    margin: auto;
    padding-top: 10%;

}
.frou {
    width: 70%;
    margin: auto;
    border-radius: 25px;
    margin-bottom: 10%;
    background-color: #ff797945;
}

.bg{
    
}

.hrow{
    width:90%;
    margin:auto;

}

